<!--TODO 完善物品档案管理-->
<template>
    <div>
        <Alert>物品管理</Alert>
        <div>
            <Form  :model="selectModel" inline :label-width="40" >
                <FormItem>
                    <label style="font-size: 20px;vertical-align: middle">物品名称：</label>
                    <Input type="text" v-model="selectModel.name" placeholder="" clearable style="width: 200px" >
                    </Input>
                </FormItem>

                <FormItem  style="float: right">
                    <Button type="success" @click="addOne" size="large">新增</Button>
                    <Button type="primary" @click="selectData" size="large">搜索</Button>
                </FormItem>
                <!--</Row>-->
            </Form>
        </div>
        <div>
            <Table  :columns="searcherColumns" :data="model" border no-data-text="点击搜索查看数据吧！" width="100%" style="margin-top:3px" size="large"></Table>
            <div style="margin: 10px">
                <div style="float: right;">
                    <Page :total="count" show-elevator @on-change="getOnePage" :current="current" show-total :page-size="currentPage"></Page>
                </div>
            </div>
        </div>
        <div>
            <!--//添加-->
            <Modal
                    v-model="showAddModel"
                    width="600"
                    :mask-closable="false"
                    title="新增物品">
                <Form  ref="addModel" :model="addModel" :label-width="80" :rules="addRuleInline" >
                    <FormItem label="名称" prop="name">
                        <Input v-model="addModel.name" placeholder="请输入名称" />
                    </FormItem>
                    <FormItem label="状态" prop="status">
                        <Select v-model="addModel.status">
                            <Option value="1" selected>正常</Option>
                            <Option value="2">禁用</Option>
                        </Select>
                    </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="add()" size="large">新增</Button>
                </div>
            </Modal>
            <!--修改-->
            <Modal
                    v-model="showChangeModel"
                    width="600"
                    :mask-closable="false"
                    title="修改物品">
                <Form  ref="changeModel" :model="changeModel" :label-width="80" :rules="addRuleInline" >
                        <FormItem label="名称" prop="name">
                            <Input v-model="changeModel.name" placeholder="请输入名称" />
                        </FormItem>
                        <FormItem label="状态" prop="status">
                            <Select v-model="changeModel.status">
                                <Option value="1" >正常</Option>
                                <Option value="2">禁用</Option>
                            </Select>
                        </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="change()" size="large">修改</Button>
                </div>
            </Modal>
            <!--配置-->
            <Modal
                    v-model="showConfigureModel"
                    width="800"
                    :mask-closable="false"
                    title="配置零件">
                <Form  ref="formDynamic" :model="formDynamic" :label-width="80"  >
                    <FormItem
                            v-for="(item, index) in formDynamic.items"
                            :key="index"
                            :label="'零件 '+(index+1)"
                            :prop="'items.' + index + '.id'+'.num'"

                            >
                        <Row>
                            <Col span="12">
                                    <Select v-model="item.componentId" filterable >
                                        <Option v-for="cp in componentsList" :value="cp.id"  :key="cp.id">{{ cp.name }}</Option>
                                    </Select>
                            </Col>
                            <Col span="2" offset="1">
                                <label>数量：</label>
                            </Col>
                            <Col span="5" >
                                <Input type="text" v-model="item.num" placeholder="输入数量"></Input>
                            </Col>
                            <Col span="3" offset="1">
                                <Button type="ghost" @click="handleRemove(index)">删除</Button>
                            </Col>
                        </Row>
                    </FormItem>
                    <FormItem>
                        <Row>
                            <Col span="12">
                                <Button type="dashed" long @click="handleAdd" icon="plus-round">新增</Button>
                            </Col>
                        </Row>
                    </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="configure()" size="large">配置</Button>
                </div>
            </Modal>
            <!--删除-->
            <Modal v-model="showDeleteModel" width="360">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>删除</span>
                </p>
                <div style="text-align:center">
                    <h2>删除后可能对系统造成不可预计的影响</h2>
                    <h2>确认删除？</h2>
                </div>
                <div slot="footer">
                    <Button type="error" size="large" long  @click="del">确认</Button>
                </div>
            </Modal>
            <!--归档-->
            <Modal v-model="showArchiveModel" width="360">
                <p slot="header" style="color:#5dff6c;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>归档</span>
                </p>
                <div style="text-align:center">
                    <h2>该操作将保存当前的物品配置至一个永久的档案，用于订单明细处查询准确的物品信息</h2>
                    <h2>是否继续？</h2>
                </div>
                <div slot="footer">
                    <Button type="success" size="large" long  @click="archive">继续</Button>
                </div>
            </Modal>
        </div>
    </div>


</template>
<script>
    import {getTime} from '../Tools/timeMethod'
    export default{
        data(){
            return{
                selectModel: {
                    name: ""
                },
                allStatus:{"1":"正常","2":"禁用"},
                componentsList:[],
                count:0,//总数
                current: 1,//页码
                currentPage:10,//每页显示的数量
                model:[],
                searcherColumns:[
                    {
                        title: '序号',
                        type: 'index',
                        align:'center',
                        width:"70px"
                    },
                    {
                        title: '名称',
                        key: 'name',
                        align:'center'
                    },
                    {
                        title: '价格',
                        key: 'price',
                        align:'center',
                    },
                    {
                        title: '状态',
                        key: 'status',
                        align:'center',
                        render: (h,params)=>{
                            return this.allStatus[params.row.status]
                        }
                    },
                    {
                        title: '修改时间',
                        key: 'updateTime',
                        align:'center',
                        render:(h,params)=>{
                            return getTime(params.row.updateTime)
                        }
                    },
                    {
                        title: '操作',
                        key: 'action',
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'warning',
                                        size: 'default'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.changeOne(params.row)
                                            // console.log(params.row)
                                        }
                                    }
                                }, '修改'),
                                h('Button', {
                                    props: {
                                        type: 'info',
                                        size: 'default'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.configureOne(params.row)
                                        }
                                    }
                                }, '配置'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'default',
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteOne(params.row)
                                        }
                                    }
                                }, '删除'),
                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'default',
                                    },
                                    on: {
                                        click: () => {
                                            this.archiveOne(params.row)
                                        }
                                    }
                                }, '归档')
                            ]);
                        }
                    }
                ],
                showAddModel:false,
                addModel:{
                    name:'',
                    status:''
                },
                addRuleInline:{
                    name: [
                        { required: true, message: '名称不能为空', trigger: 'blur' }
                    ],
                    status: [
                        { required: true, message: '请选择状态', trigger: 'change' }
                    ]
                },
                showChangeModel:false,
                changeModel:{
                    name:'',
                    status:''
                },
                showDeleteModel:false,
                deleteModel:'',
                showArchiveModel:false,
                archiveModel:"",
                showConfigureModel:false,
                // index: 1,
                formDynamic: {
                    items: []
                }

            }
        },
        mounted () {
            this.getAllComponents()
            this.selectData()
        },
        methods:{
            //获取零件列表
            getAllComponents(){
                let self = this
                this.$http.get(this.URL+'/components/all').then(response => {
                    self.componentsList=response.body
                }, response => {
                    // error callback
                });
            },
            //根据物品查询零件
            getSomeComponents(data){
                let self= this
                this.$http.get(this.URL+'/goods/'+data+'/components').then(response => {
                    self.changeModel.componentsIds=[];
                    for(let i in response.body )
                    {
                        self.changeModel.componentsIds.push(response.body[i].id)
                    }
                }, response => {
                    // error callback
                });
            },
            //搜索
            selectData(){
                let self=this
                let postData= {
                    "page": self.current-1,
                    "size":self.currentPage
                }
                this.$http.get(this.URL+'/goods',{params:postData}).then(response => {
                    self.model=response.body.content
                    self.count=response.body.totalElements
                    // console.log(self.model)
                }, response => {
                    // error callback
                });

            },
            getOnePage(page){
                let self=this;
                self.current=page;
                self.selectData()
            },
            //新增
            addOne(){
                this.$refs['addModel'].resetFields();
                this.addModel={};
                this.addModel.status = '1';
                this.showAddModel=true;
            },
            add(){
                let self=this;
                this.$refs['addModel'].validate((valid) => {
                    if (valid) {
                        let sendData={
                            name:self.addModel.name,
                            status:self.addModel.status
                        }
                        self.$http.post(this.URL+'/goods',sendData).then(response => {
                            self.showAddModel=false;
                            self.$Message.success('新增成功！！');
                            self.selectData();
                        }, response => {
                            // error callback
                        });
                    } else {
                        this.$Message.error('请按照要求填写数据!');
                    }
                })
            },
            //修改
            changeOne(data){
                        var self=this
                        self.$refs['changeModel'].resetFields();
                        self.changeModel.name=data.name;
                        self.changeModel.id=data.id;
                        self.changeModel.status=data.status.toString()
                        self.showChangeModel=true;
            },
            change(){
                let self=this;
                this.$refs['changeModel'].validate((valid) => {
                    if (valid) {
                        self.$http.post(this.URL+'/goods',self.changeModel).then(response => {
                            self.showChangeModel=false;
                            self.$Message.success('修改成功！！');
                            self.selectData();
                        }, response => {
                            // error callback
                        });
                    } else {
                        this.$Message.error('请按照要求填写数据!');
                    }
                })

            },
            // 配置
            configureOne(data){
                let self = this
                self.formDynamic.itemId=data.id
                this.$http.get(this.URL+'/goods/'+data.id+'/components').then(response => {
                    self.formDynamic.items=[];
                    for(let i in response.body )
                    {
                        self.formDynamic.items.push(response.body[i])
                    }
                    console.log(response.body)
                    self.showConfigureModel=true;
                }, response => {
                    // error callback
                });
            },
            configure(){
                let self =this
                console.log(self.formDynamic.items)
                console.log(self.formDynamic.itemId)
                self.$http.post(this.URL+'/goods/'+self.formDynamic.itemId+'/components',self.formDynamic.items).then(response => {
                    self.showConfigureModel=false;
                    self.$Message.success('配置成功！！');
                    self.selectData();
                }, response => {
                    // error callback
                });
            },
            handleAdd () {
                this.formDynamic.items.push({
                    id: '',
                    num: ''
                });
            },
            handleRemove (index) {
                this.formDynamic.items.splice(index,1)
                console.log(this.formDynamic.items)
            },
            //删除
            deleteOne(data){
                var self= this
                self.deleteModel = JSON.parse(JSON.stringify(data.id))
                self.showDeleteModel=true
            },
            //归档
            archiveOne(data){
                var self= this
                self.archiveModel = JSON.parse(JSON.stringify(data.id))
                self.showArchiveModel=true
            },
            del(){
                var self=this
                this.$http.delete(this.URL+'/goods/'+ this.deleteModel)
                    .then(response => {
                        self.showDeleteModel=false
                        this.$Message.success('删除成功！！');
                        self.selectData();
                    }, response => {
                        // error callback
                        this.$Message.warning(response.body.message);
                    });
            },
            archive(){
                var self=this
                this.$http.post(this.URL+'/archive/goods/'+ this.archiveModel + "/generate")
                    .then(response => {
                        self.showArchiveModel=false
                        this.$Message.success('操作成功！！');
                    }, response => {
                        // error callback
                        this.$Message.warning(response.body.message);
                    });
            },
        }

    }
</script>