<!--TODO 查询物品明细-->
<template>
    <div>
        <Alert>订单(编号：{{orderModel.no}})的明细</Alert>
        <div>
            !!TODO 这里补充订单数据！！ <span @click="returnToOrder()" :style="{color:'red'}">返回</span>
        </div>
        <div>
            Emmm..
            <Form  :model="selectModel" inline :label-width="20">
                <FormItem  style="float: right">
                    <Button type="success" @click="addOne" size="large">添加</Button>
                </FormItem>
            </Form>
        </div>
        <div>
            <!--<RadioGroup v-model="orderType" type="button" @on-change="selectDataByType" size="large">
                <Radio label="1">编辑中</Radio>
                <Radio label="2">进行中</Radio>
                <Radio label="3">已完成</Radio>
                <Radio label="4">已取消</Radio>
            </RadioGroup>-->
            <Table stripe :columns="searcherColumns" :data="model" border no-data-text="你好像还没有添加数据哦！" width="100%" style="margin-top: 10px" size="large"></Table>
        </div>
        <div>
            <!--//添加-->
            <Modal
                    v-model="showAddModel"
                    width="600"
                    title="新增订单明细">
                <Form  ref="addModel" :model="addModel" :label-width="100" :rules="addRuleInline"  >
                    <FormItem label="物品" prop="no" >
                        <Select @on-change="changeGoods(addModel)" v-model="addModel.goodsId" filterable >
                            <Option v-for="kv in goodsList" :value="kv.id"  :key="kv.id">{{ kv.name }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem label="单价" prop="unitPrice">
                        <Input v-model="addModel.unitPrice" placeholder="请输入单价" />
                    </FormItem>
                    <FormItem label="数量" prop="amount">
                        <Input v-model="addModel.amount" placeholder="请输入数量" />
                    </FormItem>
                    <FormItem label="优先级" prop="priority">
                        <Input v-model="addModel.priority" placeholder="请输入优先级" />
                    </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="add()" size="large">新增</Button>
                </div>
            </Modal>
            <!--修改-->
            <Modal
                    v-model="showChangeModel"
                    width="600"
                    title="修改订单">
                <Form  ref="changeModel" :model="changeModel" :label-width="100" :rules="addRuleInline"  >
                    <FormItem label="订单编号" prop="no">
                        <Input v-model="changeModel.no" placeholder="请输入编号" />
                    </FormItem>
                    <FormItem label="订单名称" prop="name">
                        <Input v-model="changeModel.name" placeholder="请输入名称" />
                    </FormItem>
                    <FormItem label="订单公司" prop="company">
                        <Input v-model="changeModel.company" placeholder="请输入名称" />
                    </FormItem>
                    <FormItem label="计划交货日期" prop="lastExpectedTime">
                        <DatePicker  v-model="changeModel.lastExpectedTime" type="date"  placeholder="选择最后交货日期"  style="width: 468px"></DatePicker>
                    </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="change()" size="large">修改</Button>
                </div>
            </Modal>
            <!--删除-->
            <Modal v-model="showDeleteModel" width="360">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>作废</span>
                </p>
                <div style="text-align:center">
                    <h2>作废后可能对系统造成不可预计的影响</h2>
                    <h2>确认作废？</h2>
                </div>
                <div slot="footer">
                    <Button type="error" size="large" long  @click="del">确认</Button>
                </div>
            </Modal>
            <!--配置-->
            <Modal
                    v-model="showConfigureModel"
                    width="800"
                    :mask-closable="false"
                    title="配置物品">
                <Form  ref="configureModel" :model="configureModel" :label-width="80"  >
                    <FormItem
                            v-for="(item, index) in configureModel.items"
                            :key="index"
                            :label="'零件 '+(index+1)"
                            :prop="'items.' + index + '.id'+'.num'"
                    >
                        <Row>
                            <Col span="12">
                                <Select v-model="item.componentId" filterable >
                                    <Option v-for="cp in componentsList" :value="cp.id"  :key="cp.id">{{ cp.name }}</Option>
                                </Select>
                            </Col>
                            <Col span="2" offset="1">
                                <label>数量：</label>
                            </Col>
                            <Col span="5" >
                                <Input type="text" v-model="item.num" placeholder="输入数量"></Input>
                            </Col>
                            <Col span="3" offset="1">
                                <Button type="ghost" @click="handleRemove(index)">删除</Button>
                            </Col>
                        </Row>
                    </FormItem>
                    <FormItem>
                        <Row>
                            <Col span="12">
                                <Button type="dashed" long @click="handleAdd" icon="plus-round">新增</Button>
                            </Col>
                        </Row>
                    </FormItem>
                </Form>
                <div slot="footer">
                    <Button type="primary" @click="configure()" size="large">配置</Button>
                </div>
            </Modal>
        </div>
    </div>
</template>
<script>
    import {getTime} from '../Tools/timeMethod'
    export default{
        data(){
            return{
                selectedGoods:{},
                goodsList:[],
                billDetailUrl:null,
                orderModel:{
                    no:'',
                    name:'',
                    lastExpectedTime:'',
                    company:''
                },
                selectModel: {
                    no: "",
                    name:"",
                    createTime:""
                },
                allStatus:{"1":"编辑中","2":"待发货","3":"已发货","4":"取消发货"},
                orderType:'1',
                model:[],
                searcherColumns:[
                    {
                        title: '序号',
                        type: 'index',
                        align:'center',
                        width:"70px"
                    },
                    {
                        title: '物品名称',
                        key: 'goodsName',
                        align:'center',
                    },
                    {
                        title: '数量',
                        key: 'amount',
                        align:'center'
                    },
                    {
                        title: '单价',
                        key: 'unitPrice',
                        align:'center'
                    },
                    {
                        title: '总价',
                        key: 'total',
                        align:'center'
                    },
                    {
                        title: '状态',
                        key: 'status',
                        align:'center',
                        render: (h,params)=>{
                            return this.allStatus[params.row.status]
                        }
                    },
                    {
                        title: '优先级',
                        key: 'priority',
                        align:'center'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        align: 'center',
                        render: (h, params) => {
                            let buttons = [];
                            if (params.row.status === 1) {
                                /*buttons.push(h('Button', {
                                    props: {
                                        type: 'warning',
                                        size: 'default'
                                    },
                                    style: {
                                        marginRight: '5px',
                                    },
                                    on: {
                                        click: () => {
                                            this.changeOne(params.row)
                                        }
                                    }
                                }, '修改'));*/
                                buttons.push(h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'default',
                                    },
                                    on: {
                                        click: () => {
                                            this.deleteOne(params.row)
                                        }
                                    }
                                }, '删除'));
                            }
                            if (params.row.status === 2) {
                                buttons.push(h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'default',
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                                }, '发货'));
                                buttons.push(h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'default',
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                                }, '取消'));
                            }
                            return h('div', buttons);
                        }
                    }
                ],
                showAddModel:false,
                addModel:{
                    amount: null,
                    goodsId: null,
                    priority: null,
                    unitPrice: null
                },
                addRuleInline:{
                },
                showChangeModel:false,
                changeModel:{
                    amount: null,
                    goodsId: null,
                    priority: null,
                    unitPrice: null
                },
                showDeleteModel:false,
                deleteModel:'',
                configureModel:{},
                showConfigureModel:false
            }
        },
        mounted () {
            this.getAllGoods();
            this.orderModel.no = this.$route.params.no;
            this.billDetailUrl = this.URL+'/bills/' + this.orderModel.no + '/detail';
            this.selectData();
        },
        methods:{
            getAllGoods(){
                let self = this;
                this.$http.get(this.URL+'/goods/all').then(response => {
                    self.goodsList=response.body
                });
            },
            //搜索
            selectData(){
                let self=this
                console.log('搜索时间'+this.selectModel.createTime)
                let postData= {
                    'status':self.orderType
                };
                this.$http.get(this.billDetailUrl,{params:postData}).then(response => {
                    self.model=response.body;
                    console.log(self.model)
                }, response => {
                    // error callback
                });
            },
            selectDataByType(){
                console.log(this.orderType)
                this.selectData()
            },
            //新增
            addOne(){
                this.$refs['addModel'].resetFields();
                this.addModel={};
                this.showAddModel=true;
            },
            add(){
                let self=this;
                console.log(self.addModel.lastExpectedTime)
                this.$refs['addModel'].validate((valid) => {
                    if (valid) {
                        self.$http.post(this.billDetailUrl,self.addModel).then(response => {
                            debugger
                            self.showAddModel=false;
                            self.$Message.success('新增成功！！');
                            self.selectData();
                        }, response => {
                            // error callback
                        });
                    } else {
                        this.$Message.error('请按照要求填写数据!');
                    }
                })
            },
            //修改
            changeOne(data){
                var self=this
                this.$refs['changeModel'].resetFields();
                self.changeModel = JSON.parse(JSON.stringify(data))
                self.showChangeModel=true;
            },
            change(){
                let self=this;
                this.$refs['changeModel'].validate((valid) => {
                    if (valid) {
                        self.$http.post(this.billDetailUrl,self.changeModel).then(response => {
                            self.showChangeModel=false;
                            self.$Message.success('修改成功！！');
                            self.selectData();
                        }, response => {
                            this.$Message.warning(response.body.message);
                        });
                    } else {
                        this.$Message.error('请按照要求填写数据!');
                    }
                })
            },
            //配置
            configureOne(data){
                let self =this;
                console.log(data)
                self.showConfigureModel=true;
            },
            configure(){

            },
            handleAdd () {
                this.formDynamic.items.push({
                    id: '',
                    num: ''
                });
            },
            handleRemove (index) {
                this.formDynamic.items.splice(index,1)
                console.log(this.formDynamic.items)
            },
            //作废
            deleteOne(data){
                var self= this
                self.deleteModel = JSON.parse(JSON.stringify(data.id))
                self.showDeleteModel=true
            },
            del(){
                var self=this
                this.$http.delete(this.billDetailUrl + "/" + this.deleteModel)
                    .then(response => {
                        self.showDeleteModel=false
                        this.$Message.success('删除成功！！');
                        self.selectData();
                    }, response => {
                        // error callback
                        this.$Message.warning(response.body.message);
                    });
            },
            returnToOrder(){
                this.$router.push('/orderManagement');
            },
            changeGoods(model){
                for (let i in this.goodsList) {
                    if (this.goodsList[i].id === model.goodsId) {
                        this.selectedGoods = this.goodsList[i];
                        break;
                    }
                }
                model.unitPrice = this.selectedGoods.price;
            }
        }
    }
</script>
<style>
</style>